body {
  display: flex;
  font-family: "Canela Text";
  background-color: #fffff8;
  color: #111;
}

html,
body {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Canela Deck";
}

aside {
  width: 270px;
  /* height: calc(100% - 30px); */
  padding-top: 30px;
  padding-right: 30px;
  border-right: 1px solid var(--black);
  background: inherit;
}

.toc {
  position: absolute;
  right: 30px;
}

.hamburger {
  display: none;
  background-image: url("/assets/list.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
  margin: 10px;
  float: right;
}

main {
  flex-grow: 1;
  /* padding-top: 100px; */
  max-width: 800px;
  margin-left: 80px;
  margin-right: auto;
}

aside ol {
  list-style-type: none;
}

aside ol li {
  padding-bottom: 10px;
}

.indent {
  padding-left: 1em;
  text-indent: -1em;
}

aside a {
  text-decoration: none;
}

.active {
  font-weight: bold;
}

pre {
  margin: 0;
  padding: 16px 0px;
  background: var(--black);
  color: white;
  border-radius: 8px;
}

@media (max-width: 1600px) {
  .toc {
    display: none;
  }
}

@media (max-width: 1200px) {
  aside {
    /* display: none; */
    width: 70px;
    height: 70px;
    overflow: hidden;
    padding: 0;
    border-right: none;
    position: fixed;
    right: 0px;
  }

  .home-link {
    display: none;
  }

  .hamburger {
    display: block;
  }

  aside:hover {
    height: 100%;
    width: 270px;
  }

  main {
    width: 600px;
  }
}

@media (max-width: 950px) {
  main {
    margin-left: 4%;
    margin-right: 4%;
  }
}

@media (max-width: 700px) {
  main {
    width: 400px;
  }
}

/* code {
  background: #eaeaea;
  padding: 3px;
  border-radius: 3px;
}

pre > code {
  background: none;
  padding: 0;
  border-radius: 0;
} */
