body {
  display: flex;
  color: #111111;
  background: #fffff8;
  gap: 0px 40px;
  /* font-family: "Canela Text"; */
}

h1 {
  /* font-family: "Canela Deck"; */
}

aside {
  width: 270px;
  height: calc(100% - 30px);
  padding-top: 30px;
  padding-right: 30px;
  border-right: 1px solid var(--black);
  background: inherit;
}

.toc {
  position: absolute;
  right: 30px;
}

.hamburger {
  display: none;
  background-image: url("/assets/list.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
  margin: 10px;
  float: right;
}

@media (max-width: 1200px) {
  .toc {
    display: none;
  }

  aside {
    /* display: none; */
    width: 70px;
    height: 70px;
    overflow: hidden;
    padding: 0;
    border-right: none;
    position: fixed;
    right: 0px;
  }

  .home-link {
    display: none;
  }

  .hamburger {
    display: block;
  }

  aside:hover {
    height: 100%;
    width: 270px;
  }

  body {
    padding-left: 40px;
  }
}

main {
  flex-grow: 1;
  /* padding-top: 100px; */
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

aside ol {
  list-style-type: none;
}

aside ol li {
  padding-bottom: 10px;
}

.indent {
  padding-left: 1em;
  text-indent: -1em;
}

aside a {
  text-decoration: none;
}

.active {
  font-weight: bold;
}
