html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #130918;
}

.container {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("docs/logos/0-a-left/Aphrodite-logos_transparent.png");
}

/*
--xiketic: #1E0E18ff;
--xiketic-2: #130918ff;
--caput-mortuum: #4D251Aff;
--spanish-orange: #E87121ff;
--xiketic-3: #1A0C18ff;
*/
