/* @import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@font-face {
  font-family: "Rocher";
  src: url("https://assets.codepen.io/9632/RocherColorGX.woff2");
}

@font-face {
  font-family: Gilbert;
  src: url("fonts/gilbert-color.otf") format("opentype");
} */

// https://rsheeter.github.io/recolor/#1%2520rgba(196%252C%2520168%252C%2520126%252C%2520255)%252C%25203%2520rgba(50%252C%252041%252C%252027%252C%2520255)%252C%25205%2520rgba(196%252C%2520196%252C%2520196%252C%2520255)

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Base {
  font-family: Gilbert;
  base-palette: 0;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.grays {
  font-palette: --Grays;
}

.purples {
  font-palette: --Purples;
}

.mint {
  font-palette: --Mint;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* background: #130918; */
  background: white;
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins, Verdana, sans-serif;
}

.container {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("logos/0-a-left/Aphrodite-logos_transparent.png");
}

.logo {
  text-decoration: none;
  font-size: 1.5em;
}

.logo-subtext {
  width: 280px;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -16px;
  color: #c17878;
  text-align: center;
}

.logo > img {
  width: 359px;
  height: 93px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-svg {
  width: 64px;
  height: 64px;
  flex-grow: 0;
  fill: #e87121;
  display: none;
}

.logo-vbar {
  border: 1px solid black;
  height: 32px;
  flex-grow: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.logo-text {
  flex-grow: 0;
  font-size: 2em;
}
