body {
  font-family: "DM Sans", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  width: 100%;
}

.hero-catch {
  max-width: 500px;
  margin-top: 40px;
}

.hero-catch h1 {
  font-size: 54px;
  margin-top: 0px;
  font-weight: bold;
  font-family: "Canela Deck", serif;
}

.hero-install {
  margin-top: 40px;
  padding: 10px;
  border-radius: 8px;
  padding-left: 20px;
  background: var(--dress);
}

.hero-catch p {
  color: var(--brown);
  font-family: "Canela Text", serif;
}

.hero-right {
  display: flex;
  justify-content: right;
}

.hero-code {
  width: 600px;
  background: var(--black);
  border-radius: 30px;
  border: 1px solid var(--dress);
}

.hero-code pre {
  color: white;
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
}

.hero-code pre > code {
  width: 100%;
  margin-left: 0px;
  background: inherit;
  padding-left: 30px;
}

.hero-code hr {
  border: 0px;
  outline: 0;
  margin: 0;
  height: 1px;
  width: 100%;
  background-color: var(--dress);
}

.hero-call-to-action {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.hero-gh-btn {
  margin-top: auto;
  margin-bottom: auto;
  /* width: 120px;
  height: 66px;
  background-image: url("/assets/github.svg");
  background-repeat: no-repeat; */
}

.get-started-btn {
  width: 120px;
  color: white;
  text-align: center;
  font-size: 20px;
  border-radius: 32px;
  padding: 20px;
  background: var(--black);
  cursor: pointer;
  border: 1px solid var(--dress);
}

.god-head-w-spacer {
  width: 132px;
}

.hero {
  background: var(--light-blue);
  padding: 80px 0px;
}

@media (max-width: 1200px) {
  .hero-container {
    flex-direction: column;
    gap: 60px;
  }

  .hero-left,
  .hero-right {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .god-circle {
    margin-left: calc(50% - 70px);
  }
}

/* .hero-container {
  position: relative;
}

.hero-container:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 170px;
  background: #b9e2f5;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0%);
} */

.hero-container,
.container {
  width: 95%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0px;
}

/*
Shrikhand, "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
*/

.hero-container {
  display: flex;
}

.hero-left {
  flex-grow: 1;
}

.hero-right {
  flex-grow: 1;
}

.header-nav-menu {
  flex-grow: 1;
}

.header-contents .logotext {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
